<html>
    <head>
        <link href="/static/login.css" rel="stylesheet" />
        <title>Administrator Login</title>
    </head>
    <body>
      
        <div id="container">
            <form method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <div id="lower">
                    <input type="checkbox"><label for="checkbox">I'm a robot</label>
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </body>
</html>